.home .text-neon {
  color: #ffe16a;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d4ac0d, 0 0 40px #d4ac0d, 0 0 50px #d4ac0d, 0 0 60px #d4ac0d,
    0 0 70px #d4ac0d;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffe16a;
}
.text-nav {
  -webkit-text-fill-color: #ffe16a;
}
.text-neno-titel {
  -webkit-text-fill-color: #ffe16a;
  text-shadow: 3px 3px 3px #bf7f00, -3px -3px 8px #bf7f00;
}
.text-login {
  color: #d4ac0d;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.home .form-control::-webkit-input-placeholder {
  color: #ffe16a;
  font-weight: bold;
}
.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    122deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(104, 90, 60, 1) 42%,
    rgb(196 172 121) 75%,
    rgb(73 50 0) 91%,
    rgba(6, 5, 2, 1) 100%
  );
}
.footer img.lazyloaded {
  filter: drop-shadow(0px 0px 10px #000000);
}
.image {
  object-fit: fill;
}
.test {
  color: #000000;
  text-shadow: 0 0 10px rgb(230, 215, 12), 0 0 20px rgb(0, 0, 0), 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff,
    0 0 60px #ffffff, 0 0 70px #ffffff;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.home .text-neon-bg {
  background-color: #070b28;
}

.home .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bg-image {
  background-color: #181c27;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-image: url("./../images/home/bgw.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.tt_tx_line {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #fff;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  /* background-color: #57c42e; */
}
#topbar {
  position: fixed;
  width: 60px;
  z-index: 10;
  right: 10px;
  bottom: 15%;
  padding: 10px 0px 0px 0px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #57c42e;
  padding: 5px;
  border-radius: 0.5rem;
}
#topbar2 {
  position: fixed;
  width: 200px;
  z-index: 99999999;
  left: 10px;
  bottom: 1rem;
  padding: 10px 0px 0px 0px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.home .card {
  margin: 30px auto;
  width: 250px;
  height: 125px;

  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.home .card-home {
  width: 180px;
  height: 120px;
  
}
.card-image,
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a .card-img-home {
  cursor: pointer;
  outline: -webkit-focus-ring-color auto 1px;
  transition: 0.4s;
  height: 100px;
  width: 100%;
}

a .card-img-home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a .card-img-home:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
.home .card .card_image {
  width: inherit;
  height: inherit;
}

.home .card .card_image img {
  width: inherit;
  height: inherit;

  object-fit: cover;
}

.home .card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.home .card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.home .title-white {
  color: white;
}

.home .title-black {
  color: black;
}
.home.bg {
  background: rgb(6, 12, 75);
}

@media only screen and (min-width: 768px) {
  #topbar2 {
    bottom: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  #topbar2 {
    width: 70px;
    bottom: 1rem;
  }
  .home .card-home {
    width: 150px;
    height: 100px;
    
  }
}
@media only screen and (max-width: 600px) {
  .m-contact .text-contact {
    font-size: x-small;
  }
}
@media all and (max-width: 515px) {
  .home .card-list {
    flex-direction: column;
  }
  /* .home .card-home {
    width: 120px;
    height: 80px;
  } */
}
@media all and (max-width: 370px) {
  .home .card-home {
    width: 120px;
    height: 80px;
  }
}
@media all and (max-width: 320px) {
  .home .card-home {
    width: 105px;
    height: 70px;
  }
}
.header .mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 3px 3px 3px #bf7f00, -3px -3px 8px #bf7f00;
}
.boder-game {
  border-bottom: #e2c700 3px solid;
  -webkit-box-shadow: -1px -1px 15px 20px #ffd600;
  box-shadow: -1px -1px 15px 20px #ffd600;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  /* text-shadow: 3px 3px 3px #bf7f00, -3px -3px 8px #bf7f00; */
}

