.login .form .st-logo {
	-webkit-filter: drop-shadow(0px 10px 30px #000000);
	filter: drop-shadow(0px 10px 30px #000000);
}
.login .title {
	position: absolute;
	text-shadow: 3px 3px 3px #bf7f00, -3px -3px 8px #bf7f00;
}
@media (max-width: 800px) {
	.login .title {
		display: none;
	}
}
