.register input[type="text"],
.register input[type="password"],.register select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 1rem 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.register input[type="phone"] {
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
}

.register input[type="text"]:focus,
.register input[type="password"]:focus,
.register input[type="phone"]:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.register button {
    background-color: #0eb7f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.register button:hover {
    opacity: 1;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}

.register .youtubeBtn {
    position: fixed;
    right: 20px;
    transform: translatex(-50%);
    top: 20px;
    cursor: pointer;
    transition: all 0.3s;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    background: #000;
    padding: 2px 10px;
    border-radius: 5px;
}
.register .youtubeBtn i {
    font-size: 20px;
    float: left;
}
.register .youtubeBtn a {
    color: #ff0000;
    animation: youtubeAnim 1000ms linear infinite;
    float: right;
}
.register .youtubeBtn a:hover {
    color: #c9110f;
    transition: all 0.3s ease-in-out;
}
.register .youtubeBtn i:active {
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}
.register .youtubeBtn span {
    font-family: "Lato";
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 12px;
    float: right;
    line-height: 20px;
    padding-left: 5px;
}
.register form{
    width: 80%;
}

@keyframes youtubeAnim {
    0%,
    100% {
        color: #c9110f;
    }
    50% {
        color: #ff0000;
    }
}
