.shootfish .card {
    width: 180px;
    height: unset;
    margin: 0;
}
@media only screen and (max-width: 534px) {
    .shootfish .card {
        width: 100px;
    }
}
@media only screen and (max-width: 375px) {
    .shootfish .card {
        width: 85px;
    }
}